
.body {
    font-family: 'Italiana', serif;
    font-weight: 600;
    background: hsla(302, 82%, 76%, 0.3);

    background: linear-gradient(135deg, hsla(302, 82%, 76%, 0.3) 0%, hsla(258, 40%, 68%, 0.3) 100%);

    background: -moz-linear-gradient(135deg, hsla(302, 82%, 76%, 0.3) 0%, hsla(258, 40%, 68%, 0.3) 100%);

    background: -webkit-linear-gradient(135deg, hsla(302, 82%, 76%, 0.3) 0%, hsla(258, 40%, 68%, 0.3) 100%);
    min-height: 115vh;
    padding: 3rem 0rem;

    .projectcard {
        width: 80%;
        margin: auto;
        // display: flex;
        justify-content: center;
        height: 100vh;

        h1:first-of-type {
            text-align: center;
        }

        .sidebyside {
            display: flex;
            background-color: inherit;
            margin-top: 8rem;

            p {
                width: 50%;
                margin: 0;
            }

            span {

                width: 50%;
                display: flex;
                // align-items: center;
                justify-content: center;

                h2 {
                    margin: 0 1.5rem 0 0;
                }

                .buttonlink {
                    align-self: baseline;
                    background-color: inherit;
                    width: min-content;
                    border: none;

                    a {

                        all: unset;
                        cursor: pointer;

                        width: fit-content;
                        text-align: center;
                        color: black;
                        font-size: 1rem;
                        font-weight: 700;
                        background-color: rgb(155, 140, 168);
                        margin-bottom: 1.5rem;
                        padding: .5rem 1.5rem;
                        transition: 200ms;
                    }

                    .buttonlink a {
                        transition: 200ms;
                        background-color: inherit;
                    }

                    a:hover {
                        border-radius: 2.5rem;
                        box-shadow:
                            3px 3px 0px 0px #242323;
                    }
                }
            }
        }

        .carouselwrapper {
            margin: auto;
            max-width: 80vw;
            min-width: 80vw;
            min-width: max-content;
            min-height: 35vh;
            max-height: 35vh;
            position: relative;
            display: flex;
        }

        .carousel {
            max-height: 55vh;
            margin: 0;
            padding: 0;
            list-style: none;

            .slide {
                position: absolute;
                inset: 0;
                opacity: 0;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }

            .slide[data-active] {
                opacity: 1;
            }
        }
    }
}

.arrowsl,
.arrowsr {
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    transition: 500ms;
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);

    &:hover {
        opacity: 1;
        background-color: rgba(0, 0, 0, .2);
        color: white;
    }
}

.arrowsl {
    left: 2%;
    border-radius: 50%;
}

.arrowsr {
    right: 2%;
    border-radius: 50%;
}


@media only screen and (max-width: 1210px) and (min-width:235px) {
    .body {
        min-height: 100vh;

        .projectcard {
            .sidebyside {
                margin-top: 2.5rem;
                flex-direction: column-reverse;

                p {
                    width: 90%;
                }

                span {
                    margin-bottom: 2rem;
                    width: 90%;
                }
            }
        }
    }
}